*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    border-top: 0;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .55s ease-in-out;
  }

  .inputerror{
      color: red;
      font-size: 12px;
  }


  .logo:hover{
      width: 50.8px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      background-color:aliceblue;
  }

  .cart-logo:hover{
      width: 21px;
      padding: .02rem;
  }

  body{
      overflow-y: hidden;
  }