<%- include("../partials/homenav.ejs") %>
<div class="card mx-auto my-4 d-flex block w-50 px-3">
    <%- include("../message.ejs") %>
    <form class="px-3 py-2" method="post" action="/user/login">
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="john@example.com" name="email" value="<%= typeof email !== 'undefined'? email:''%>">
    </div>
    
        <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <br>
                <div class="d-flex">
                    
                    <input type="password" 
                        name="password" id="password" class="form-control" value="<%= typeof password !== 'undefined'? password:''%>"/>
                    <i class="bi bi-eye-slash ms-auto mx-0 px-2 py-1"
                        id="togglePassword"></i>
                </div>
            </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary ms-auto">Login</button>
    </div>
</form>

  </div>
</div>